@import '~@local/styles/variables/spacing';
@import '~@local/styles/mixins/aspect-ratio-box';

.map {
    position: relative;
    box-sizing: border-box;
    display: grid;
    height: 100%;
    padding: spacing(4);

    .map--background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    
    > .map--container {
        @include square-ratio-box;
        box-sizing: border-box;
        margin: auto;
        max-width: 80vh;
        width: 100%;

        > .map--grid {
            display: grid;
            --grid-columns: 10; /* fallback */
            grid-template-columns: repeat(var(--grid-columns), 1fr);
            grid-gap: spacing(2);
        }
    }
}