$monster-blue: #2196f3 !default;
$monster-brown: #795548 !default;
$monster-green: #4caf50 !default;
$monster-orange: #ff9800 !default;
$monster-purple: #9c27b0 !default;
$monster-red: #f44336 !default;
$monster-white: white !default;
