$gray-100: #eee !default;
$gray-200: #ddd !default;
$gray-300: #ccc !default;
$gray-400: #bbb !default;
$gray-500: #999 !default;
$gray-600: #555 !default;
$gray-700: #333 !default;
$gray-800: #222 !default;
$gray-900: #111 !default;

$ui-colors: () !default;

$ui-colors: map-merge(
  (
    "white": (
      "base": white,
      "contrast": (
        "primary": $gray-800,
        "secondary": $gray-500,
        "tertiary": $gray-200
      )
    ),
    "100": (
      "base": $gray-100,
      "contrast": (
        "primary": $gray-800,
        "secondary": $gray-500,
        "tertiary": $gray-300
      )
    ),
    "200": (
      "base": $gray-200,
      "contrast": (
        "primary": $gray-800,
        "secondary": $gray-500,
        "tertiary": $gray-400
      )
    ),
    "300": (
      "base": $gray-300,
      "contrast": (
        "primary": $gray-900,
        "secondary": $gray-600,
        "tertiary": $gray-500
      )
    ),
    "400": (
      "base": $gray-400,
      "contrast": (
        "primary": $gray-900,
        "secondary": $gray-600,
        "tertiary": $gray-500
      )
    ),
    "500": (
      "base": $gray-500,
      "contrast": (
        "primary": white,
        "secondary": $gray-300,
        "tertiary": $gray-400
      )
    ),
    "600": (
      "base": $gray-600,
      "contrast": (
        "primary": white,
        "secondary": $gray-400,
        "tertiary": $gray-500
      )
    ),
    "700": (
      "base": $gray-700,
      "contrast": (
        "primary": white,
        "secondary": $gray-500,
        "tertiary": $gray-600
      )
    ),
    "800": (
      "base": $gray-800,
      "contrast": (
        "primary": white,
        "secondary": $gray-500,
        "tertiary": $gray-600
      )
    ),
    "900": (
      "base": $gray-900,
      "contrast": (
        "primary": white,
        "secondary": $gray-600,
        "tertiary": $gray-700
      )
    ),
    "black": (
      "base": black,
      "contrast": (
        "primary": white,
        "secondary": $gray-600,
        "tertiary": $gray-800
      )
    )
  ),
  $ui-colors
);

$default-ui-background: "100" !default;

@function ui-background($variant: $base-ui-variant) {
  $map: map-get($ui-colors, $variant);
  @return map-get($map, "base");
}

@function ui-contrast($background, $variant: "primary") {
  $map: map-get($ui-colors, $background);
  $contrast: map-get($map, "contrast");
  @return map-get($contrast, $variant);
}
