@import '~@local/styles/variables/monster-colors';

.monster {
    height: 100%;
    width: 100%;
    cursor: grab;

    display: flex;
    align-items: center;
    justify-content: center;

    > * {
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }

    &.blue > * { background: $monster-blue }
    &.brown > * { background: $monster-brown }
    &.green > * { background: $monster-green }
    &.orange > * { background: $monster-orange }
    &.purple > * { background: $monster-purple }
    &.red > * { background: $monster-red }
    &.white > * { background: $monster-white }

    &.dragged > * {
        height: 3rem;
        width: 3rem;
        opacity: .5;
    }
}