@mixin input-reset {
    appearance: none;
    background: none;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    line-height: 1;
    margin: 0;
    vertical-align: middle;
    white-space: normal;
    &:focus,
    &:active {
        outline: 0;
    }
    &[type="number"] {
        appearance: textfield !important;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            height: 300px;
            -webkit-appearance: none !important;
            margin: 0;
        }
    }
}

@mixin select-reset {
    appearance: none;
    border: 0;
    background: inherit;
    font-family: inherit;

    &:active,
    &:focus {
        outline: 0;
    }
}

@mixin button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    text-align: inherit;

    &:active,
    &:focus {
        outline: 0;
    }

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
